body{
    background-color: rgb(255, 250, 243);
}

header, main, footer{
    max-width: 1000px; /* Largura máxima permitida - RESPONSIVO*/
   margin: auto;
    /* height: 300px; */
}

div#capa{
    background-color: cornflowerblue; /* Cor de fundo*/
    width: 100%; /*Faz a div ocupar 100% da largura da HEADER*/
    height: 300px; /*Altura da capa*/
    background-image: url('capa.jpg'); /*Coloca uma imagem de fundo na div*/
    background-size: cover; /*Ajusta o tamanho da imagem*/
    background-repeat: no-repeat; /*Não repetir a imagem*/
    background-position: center; /*Posiciona a imagem no meio da div*/
    color: white; /*Define a cor da fonte da DIV*/
    /*YRMPORARIO*/
    font-family: Arial, Helvetica, sans-serif; /*Muda a fonte*/
    position: relative; /*Posicionamento do pai deve ser Relativo*/
    display: flex; /*Deixar os elementos internos (Filhos) flexiveis (Soltos)*/
    flex-direction: column; /*Alinnha os elementos internos um abaixo do outro de cima para baixo*/
    justify-content: center; /*Alinhamento Vertical*/
    align-items: center; /*Alinhamento Horizontal*/
}

#capa>H1{
    text-shadow: 3px 3px 3px black; /*Sombra do texto**/
}

#capa>p{
    position: absolute; /*Permite que o elemento mude de lugar*/
    top: 165px; /*distancia a partir do topo*/
    background-color: rgb(31, 31, 31); /*Configura a cor de fundo0 do paragrafo*/
    padding: 5px; /*Define o espaçamento interno*/
}

div#sociais{
    /* background-color: blueviolet; Temporário */
    width: 160px;
    /*position: absolute; /*Posicionamento do filho deve ser absoluto*/
    /* bottom: 20px; */
    /* right: 20px; */
   
    display: flex; /*Deixa os elementos internos "soltos" para serem posicionados*/
    justify-content: space-between; /*Distribui os elementos interno na horizontal*/
}

img.sociais{
    width: 30px; /*Fefininso a largura da imagem*/
    filter: invert(1) opacity(.7) drop-shadow(0px 0px 0px rgb(0, 34, 255)); /*Aplica filtros a imagems*/
}

img.sociais:hover{ /*Quando passar o mouser por cima*/
    filter: invert(1) opacity(1);
}

footer{
    background-color: cornflowerblue; /*Cor de fundo*/
    color: white; /*Cor da fonte*/
    height: 70px; /*Altura*/
    display: flex; /*Torna os elementos internos flexiveis*/
    justify-content: center; /*Centro horizontal*/
    align-items: center; /*Centro vertical*/
}

img.fotos{
    width: 300px; /*Largura das imagnes*/
    margin: 0px; /*Margem externa*/
}
















div.div{
    display: flex;
    margin: 10px;
}

div.div>p{
    margin-left: 20px;
}